<config version="2.0.8">
  <RomCollections>
     <RomCollection id="11" name="MAME">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mame</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/MAME/*.zip</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/MAME/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="title">installdir_temp/Artwork/MAME/title/%GAME%.*</mediaPath>
      <mediaPath type="gameplay">installdir_temp/Artwork/MAME/gameplay/%GAME%.*</mediaPath>
      <mediaPath type="action">installdir_temp/Artwork/MAME/action/%GAME%.*</mediaPath>
      <mediaPath type="marquee">installdir_temp/Artwork/MAME/marquee/%GAME%.*</mediaPath>
      <mediaPath type="romcollection">installdir_temp/Artwork/MAME/RCB/%ROMCOLLECTION%.*</mediaPath>
      <mediaPath type="cabinet">installdir_temp/Artwork/MAME/cabinet/%GAME%.*</mediaPath>
      <preCmd />
      <postCmd />
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfomamecabinet</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="MAME" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="10" name="SEGA Master System">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Sega Master System/*.sms</romPath>
      <romPath>installdir_temp/ROMs/Sega Master System/*.zip</romPath>
      <romPath>installdir_temp/ROMs/Sega Master System/*.bin</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Sega Master System/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Sega Master System/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Sega Master System/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Sega Master System/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Sega Master System/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="13" name="Game Boy Advance">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/GBA/*.gba</romPath>
      <romPath>installdir_temp/ROMs/GBA/*.zip</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/GBA/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/GBA/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/GBA/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/GBA/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/GBA/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="giantbomb.com" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="12" name="PSP">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/ppsspp</emulatorCmd>
      <emulatorParams>--fullscreen --escape-exit "%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/PSP/*.iso</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/PSP/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/PSP/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/PSP/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/PSP/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/PSP/fanart/%GAME%.*</mediaPath>
      <preCmd>psp_pre</preCmd>
      <postCmd>psp_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="15" name="PlayStation">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/PS1/*.cue</romPath>
      <romPath>installdir_temp/ROMs/PS1/*.toc</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/PS1/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/PS1/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/PS1/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/PS1/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/PS1/fanart/%GAME%.*</mediaPath>
      <preCmd>ps1_pre</preCmd>
      <postCmd>ps1_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="14" name="Genesis">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/bin/gens</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Sega Genesis/*.bin</romPath>
      <romPath>installdir_temp/ROMs/Sega Genesis/*.zip</romPath>
      <romPath>installdir_temp/ROMs/Sega Genesis/*.smd</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Sega Genesis/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Sega Genesis/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Sega Genesis/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Sega Genesis/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Sega Genesis/fanart/%GAME%.*</mediaPath>
      <preCmd>gens_pre</preCmd>
      <postCmd>gens_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="1" name="Game Boy Color">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/GBC/*.zip</romPath>
      <romPath>installdir_temp/ROMs/GBC/*.gbc</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/GBC/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/GBC/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/GBC/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/GBC/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/GBC/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="giantbomb.com" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="3" name="TurboGrafx-16">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/TurboGraphx 16/*.zip</romPath>
      <romPath>installdir_temp/ROMs/TurboGraphx 16/*.PCE</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/ROMs/TurboGraphx 16/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/ROMs/TurboGraphx 16/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/ROMs/TurboGraphx 16/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/ROMs/TurboGraphx 16/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/ROMs/TurboGraphx 16/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="2" name="Game Gear">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Sega Game Gear/*.zip</romPath>
      <romPath>installdir_temp/ROMs/Sega Game Gear/*.gg</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Sega Game Gear/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Sega Game Gear/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Sega Game Gear/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Sega Game Gear/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Sega Game Gear/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="5" name="Atari 2600">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/bin/stella</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Atari 2600/*.bin</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Atari 2600/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Atari 2600/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Atari 2600/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Atari 2600/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Atari 2600/fanart/%GAME%.*</mediaPath>
      <preCmd />
      <postCmd />
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="4" name="Neo Geo CD">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mess</emulatorCmd>
      <emulatorParams>neocdz -cdrom "%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Neo Geo/CDZ/*.cue</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Neo Geo/CDZ/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Neo Geo/CDZ/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Neo Geo/CDZ/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Neo Geo/CDZ/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Neo Geo/CDZ/fanart/%GAME%.*</mediaPath>
      <preCmd />
      <postCmd />
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="6" name="SNES">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/SNES/*.smc</romPath>
      <romPath>installdir_temp/ROMs/SNES/*.zip</romPath>
      <romPath>installdir_temp/ROMs/SNES/*.sfc</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/SNES/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/SNES/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/SNES/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/SNES/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/SNES/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="9" name="Nintendo 64">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mupen64plus</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Nintendo 64/*.v64</romPath>
      <romPath>installdir_temp/ROMs/Nintendo 64/*.z64</romPath>
      <romPath>installdir_temp/ROMs/Nintendo 64/*.zip</romPath>
      <romPath>installdir_temp/ROMs/Nintendo 64/*.bin</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Nintendo 64/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Nintendo 64/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Nintendo 64/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Nintendo 64/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Nintendo 64/fanart/%GAME%.*</mediaPath>
      <preCmd />
      <postCmd />
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="8" name="NES">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/NES/*.nes</romPath>
      <romPath>installdir_temp/ROMs/NES/*.zip</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/NES/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/NES/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/NES/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/NES/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/NES/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="16" name="GameCube">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/bin/dolphin-emu</emulatorCmd>
      <emulatorParams>-U config_temp/.dolphin-emu/GC/ -b -e "%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Gamecube/*.iso</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Gamecube/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Gamecube/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Gamecube/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Gamecube/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Gamecube/fanart/%GAME%.*</mediaPath>
      <preCmd>dolphin_pre</preCmd>
      <postCmd>dolphin_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="17" name="PlayStation 2">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/pcsx2</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/PS2/*.iso</romPath>
      <romPath>installdir_temp/ROMs/PS2/*.cue</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/PS2/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/PS2/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/PS2/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/PS2/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/PS2/fanart/%GAME%.*</mediaPath>
      <preCmd>ps2_pre</preCmd>
      <!-- The postCMD command set is just a precaution, both should exit fine -->	
      <postCmd>ps2_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="18" name="Game Boy">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/GB/*.zip</romPath>
      <romPath>installdir_temp/ROMs/GB/*.gb</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/GB/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/GB/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/GB/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/GB/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/GB/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="giantbomb.com" replaceKeyString="" replaceValueString="" />
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="19" name="Atari Lynx">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mednafen</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Atari Lynx/*.lnx</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Atari Lynx/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Atari Lynx/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Atari Lynx/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Atari Lynx/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Atari Lynx/fanart/%GAME%.*</mediaPath>
      <preCmd>med_gen_pre</preCmd>
      <postCmd>med_gen_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="20" name="Neo Geo">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/games/mess</emulatorCmd>
      <emulatorParams>aes -cart "%ROMNAME%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Neo Geo/AES/*.zip</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Neo Geo/AES/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Neo Geo/AES/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">/installdir_temp/Artwork/Neo Geo/AES/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Neo Geo/AES/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Neo Geo/AES/fanart/%GAME%.*</mediaPath>
      <preCmd />
      <postCmd />
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="giantbomb.com" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="21" name="SEGA CD">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/bin/gens</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>/installdir_temp/ROMs/Sega CD/*.iso</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Sega CD/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Sega CD/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Sega CD/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Sega CD/fanart/%GAME%.*</mediaPath>
      <preCmd>gens_pre</preCmd>
      <postCmd>gens_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="22" name="SEGA 32X">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/bin/gens</emulatorCmd>
      <emulatorParams>"%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Sega 32X/*.zip</romPath>
      <romPath>installdir_temp/ROMs/Sega 32X/*.bin</romPath>
      <romPath>installdir_temp/ROMs/Sega 32X/*.32x</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Sega 32X/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Sega 32X/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Sega 32X/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Sega 32X/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Sega 32X/fanart/%GAME%.*</mediaPath>
      <preCmd>gens_pre</preCmd>
      <postCmd>gens_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
    <RomCollection id="24" name="Wii">
      <useBuiltinEmulator>False</useBuiltinEmulator>
      <gameclient />
      <emulatorCmd>/usr/bin/dolphin-emu</emulatorCmd>
      <emulatorParams>-U config_temp/.dolphin-emu/Wii/ -b -e "%ROM%"</emulatorParams>
      <romPath>installdir_temp/ROMs/Wii/*.iso</romPath>
      <saveStatePath />
      <saveStateParams />
      <mediaPath type="boxfront">installdir_temp/Artwork/Wii/boxfront/%GAME%.*</mediaPath>
      <mediaPath type="boxback">installdir_temp/Artwork/Wii/boxback/%GAME%.*</mediaPath>
      <mediaPath type="cartridge">installdir_temp/Artwork/Wii/cartridge/%GAME%.*</mediaPath>
      <mediaPath type="screenshot">installdir_temp/Artwork/Wii/screenshot/%GAME%.*</mediaPath>
      <mediaPath type="fanart">installdir_temp/Artwork/Wii/fanart/%GAME%.*</mediaPath>
      <preCmd>dolphin_pre</preCmd>
      <postCmd>dolphin_post</postCmd>
      <useEmuSolo>False</useEmuSolo>
      <usePopen>False</usePopen>
      <ignoreOnScan>False</ignoreOnScan>
      <allowUpdate>True</allowUpdate>
      <autoplayVideoMain>True</autoplayVideoMain>
      <autoplayVideoInfo>True</autoplayVideoInfo>
      <useFoldernameAsGamename>False</useFoldernameAsGamename>
      <maxFolderDepth>99</maxFolderDepth>
      <doNotExtractZipFiles>True</doNotExtractZipFiles>
      <diskPrefix>_Disk.*</diskPrefix>
      <imagePlacingMain>gameinfobig</imagePlacingMain>
      <imagePlacingInfo>gameinfosmall</imagePlacingInfo>
      <scraper name="thegamesdb.net" replaceKeyString="" replaceValueString="" />
      <scraper name="archive.vg" replaceKeyString="" replaceValueString="" />
      <scraper name="mobygames.com" replaceKeyString="" replaceValueString="" />
    </RomCollection>
  </RomCollections>
  <FileTypes>
    <FileType id="1" name="boxfront">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="2" name="boxback">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="3" name="cartridge">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="4" name="screenshot">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="5" name="fanart">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="6" name="action">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="7" name="title">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="8" name="3dbox">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="9" name="romcollection">
      <type>image</type>
      <parent>romcollection</parent>
    </FileType>
    <FileType id="10" name="developer">
      <type>image</type>
      <parent>developer</parent>
    </FileType>
    <FileType id="11" name="publisher">
      <type>image</type>
      <parent>publisher</parent>
    </FileType>
    <FileType id="12" name="gameplay">
      <type>video</type>
      <parent>game</parent>
    </FileType>
    <FileType id="13" name="cabinet">
      <type>image</type>
      <parent>game</parent>
    </FileType>
    <FileType id="14" name="marquee">
      <type>image</type>
      <parent>game</parent>
    </FileType>
  </FileTypes>
  <ImagePlacing>
    <fileTypeFor name="gameinfobig">
      <fileTypeForGameList>boxfront</fileTypeForGameList>
      <fileTypeForGameList>screenshot</fileTypeForGameList>
      <fileTypeForGameList>title</fileTypeForGameList>
      <fileTypeForGameList>action</fileTypeForGameList>
      <fileTypeForGameListSelected>boxfront</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>screenshot</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>title</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>action</fileTypeForGameListSelected>
      <fileTypeForMainViewBackground>fanart</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>boxfront</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>screenshot</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>title</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>action</fileTypeForMainViewBackground>
      <fileTypeForMainViewGameInfoBig>screenshot</fileTypeForMainViewGameInfoBig>
      <fileTypeForMainViewGameInfoBig>boxfront</fileTypeForMainViewGameInfoBig>
      <fileTypeForMainViewGameInfoBig>action</fileTypeForMainViewGameInfoBig>
      <fileTypeForMainViewGameInfoBig>title</fileTypeForMainViewGameInfoBig>
      <fileTypeForMainView1>publisher</fileTypeForMainView1>
      <fileTypeForMainView2>romcollection</fileTypeForMainView2>
      <fileTypeForMainView3>developer</fileTypeForMainView3>
    </fileTypeFor>
    <fileTypeFor name="gameinfosmall">
      <fileTypeForGameList>boxfront</fileTypeForGameList>
      <fileTypeForGameList>screenshot</fileTypeForGameList>
      <fileTypeForGameList>title</fileTypeForGameList>
      <fileTypeForGameList>action</fileTypeForGameList>
      <fileTypeForGameListSelected>boxfront</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>screenshot</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>title</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>action</fileTypeForGameListSelected>
      <fileTypeForMainViewBackground>fanart</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>boxfront</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>screenshot</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>title</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>action</fileTypeForMainViewBackground>
      <fileTypeForMainViewGameInfoUpperLeft>screenshot</fileTypeForMainViewGameInfoUpperLeft>
      <fileTypeForMainViewGameInfoUpperLeft>action</fileTypeForMainViewGameInfoUpperLeft>
      <fileTypeForMainViewGameInfoUpperLeft>title</fileTypeForMainViewGameInfoUpperLeft>
      <fileTypeForMainViewGameInfoUpperRight>boxfront</fileTypeForMainViewGameInfoUpperRight>
      <fileTypeForMainViewGameInfoLowerLeft>cartridge</fileTypeForMainViewGameInfoLowerLeft>
      <fileTypeForMainViewGameInfoLowerRight>boxback</fileTypeForMainViewGameInfoLowerRight>
      <fileTypeForMainViewGameInfoLowerRight>title</fileTypeForMainViewGameInfoLowerRight>
      <fileTypeForMainView1>publisher</fileTypeForMainView1>
      <fileTypeForMainView2>romcollection</fileTypeForMainView2>
      <fileTypeForMainView3>developer</fileTypeForMainView3>
    </fileTypeFor>
    <fileTypeFor name="gameinfomamemarquee">
      <fileTypeForGameList>marquee</fileTypeForGameList>
      <fileTypeForGameList>boxfront</fileTypeForGameList>
      <fileTypeForGameList>title</fileTypeForGameList>
      <fileTypeForGameListSelected>marquee</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>boxfront</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>title</fileTypeForGameListSelected>
      <fileTypeForMainViewBackground>boxfront</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>title</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>action</fileTypeForMainViewBackground>
      <fileTypeForMainViewGameInfoLeft>cabinet</fileTypeForMainViewGameInfoLeft>
      <fileTypeForMainViewGameInfoUpperRight>title</fileTypeForMainViewGameInfoUpperRight>
      <fileTypeForMainViewGameInfoLowerRight>action</fileTypeForMainViewGameInfoLowerRight>
      <fileTypeForMainView1>publisher</fileTypeForMainView1>
      <fileTypeForMainView2>romcollection</fileTypeForMainView2>
      <fileTypeForMainView3>developer</fileTypeForMainView3>
    </fileTypeFor>
    <fileTypeFor name="gameinfomamecabinet">
      <fileTypeForGameList>cabinet</fileTypeForGameList>
      <fileTypeForGameList>boxfront</fileTypeForGameList>
      <fileTypeForGameList>title</fileTypeForGameList>
      <fileTypeForGameListSelected>cabinet</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>boxfront</fileTypeForGameListSelected>
      <fileTypeForGameListSelected>title</fileTypeForGameListSelected>
      <fileTypeForMainViewBackground>boxfront</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>title</fileTypeForMainViewBackground>
      <fileTypeForMainViewBackground>action</fileTypeForMainViewBackground>
      <fileTypeForMainViewGameInfoUpperLeft>title</fileTypeForMainViewGameInfoUpperLeft>
      <fileTypeForMainViewGameInfoUpperRight>action</fileTypeForMainViewGameInfoUpperRight>
      <fileTypeForMainViewGameInfoLower>marquee</fileTypeForMainViewGameInfoLower>
      <fileTypeForMainView1>publisher</fileTypeForMainView1>
      <fileTypeForMainView2>romcollection</fileTypeForMainView2>
      <fileTypeForMainView3>developer</fileTypeForMainView3>
    </fileTypeFor>
  </ImagePlacing>
  <Scrapers>
    <Site descFilePerGame="True" name="local nfo" searchGameByCRC="False" useFilenameAsCRC="False" useFoldernameAsCRC="False">
      <Scraper encoding="utf-8" parseInstruction="00 - local nfo.xml" returnUrl="False" source="nfo" />
    </Site>
    <Site descFilePerGame="True" name="archive.vg" searchGameByCRC="False" useFilenameAsCRC="False" useFoldernameAsCRC="False">
      <Scraper encoding="iso-8859-1" parseInstruction="05.01 - archive - search.xml" returnUrl="True" source="http://api.archive.vg/2.0/Archive.search/%ARCHIVEAPIKEY%/%GAME%" />
      <Scraper encoding="iso-8859-1" parseInstruction="05.02 - archive - detail.xml" returnUrl="False" source="1" />
    </Site>
    <Site descFilePerGame="True" name="mobygames.com" searchGameByCRC="False" useFilenameAsCRC="False" useFoldernameAsCRC="False">
      <Scraper encoding="utf-8" parseInstruction="04.01 - mobygames - gamesearch.xml" returnUrl="True" source="http://www.mobygames.com/search/quick?game=%GAME%&amp;amp;p=%PLATFORM%" />
      <Scraper encoding="utf-8" parseInstruction="04.02 - mobygames - details.xml" returnUrl="False" source="1" />
      <Scraper encoding="utf-8" parseInstruction="04.03 - mobygames - coverlink front.xml" returnUrl="True" source="1" />
      <Scraper encoding="utf-8" parseInstruction="04.04 - mobygames - coverdetail front.xml" returnUrl="False" source="2" />
      <Scraper encoding="utf-8" parseInstruction="04.05 - mobygames - coverlink back.xml" returnUrl="True" source="1" />
      <Scraper encoding="utf-8" parseInstruction="04.06 - mobygames - coverdetail back.xml" returnUrl="False" source="3" />
      <Scraper encoding="utf-8" parseInstruction="04.07 - mobygames - coverlink media.xml" returnUrl="True" source="1" />
      <Scraper encoding="utf-8" parseInstruction="04.08 - mobygames - coverdetail media.xml" returnUrl="False" source="4" />
      <Scraper encoding="utf-8" parseInstruction="04.09 - mobygames - screenshotlink.xml" returnUrl="True" source="1" />
      <Scraper encoding="utf-8" parseInstruction="04.10 - mobygames - screenshot detail.xml" returnUrl="False" source="5" />
    </Site>
    <Site descFilePerGame="True" name="thegamesdb.net" searchGameByCRC="False" useFilenameAsCRC="False" useFoldernameAsCRC="False">
      <Scraper encoding="utf-8" parseInstruction="02 - thegamesdb.xml" returnUrl="False" source="http://thegamesdb.net/api/GetGame.php?name=%GAME%&amp;platform=%PLATFORM%" />
    </Site>
    <Site descFilePerGame="True" name="maws.mameworld.info" searchGameByCRC="False" useFilenameAsCRC="False" useFoldernameAsCRC="False">
      <Scraper encoding="iso-8859-1" parseInstruction="06 - maws.xml" returnUrl="False" source="http://maws.mameworld.info/maws/romset/%GAME%" />
    </Site>
    <Site descFilePerGame="False" name="MAME" searchGameByCRC="True" useFilenameAsCRC="True" useFoldernameAsCRC="False">
      <Scraper encoding="iso-8859-1" parseInstruction="installdir_temp/Artwork/MAME/parserConfig.xml" returnUrl="False" source="installdir_temp/Artwork/MAME/MAME.txt" />
    </Site>
    <Site descFilePerGame="True" name="giantbomb.com" searchGameByCRC="False" useFilenameAsCRC="False" useFoldernameAsCRC="False">
      <Scraper encoding="utf-8" parseInstruction="03.01 - giantbomb - search.xml" returnUrl="True" source="http://api.giantbomb.com/search/?api_key=%GIANTBOMBAPIKey%&amp;query=%GAME%&amp;resources=game&amp;field_list=api_detail_url,name&amp;format=xml" />
      <Scraper encoding="utf-8" parseInstruction="03.02 - giantbomb - detail.xml" returnUrl="False" source="1" />
    </Site>
  </Scrapers>
</config>
