Source: ppsspp
Section: misc
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Homepage: http://ppsspp.org/

Package: ppsspp
Architecture: any
Depends: libsdl1.2-dev
Description: PPSSPP can run your PSP games on your PC in full HD resolution,
	and play them on Android too. It can even upscale textures that would
	otherwise be too blurry as they were made for the small screen of the
	original PSP.
