[Desktop Entry]
Version=1.0
Name=XBMC PS3 (Custom)
GenericName=Media Center
Comment=Manage and view your media
Exec=/usr/share/applications/ps3_autodetect_xbmc.sh
Icon=xbmc
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;

