Source: joydetect
Section: contrib
Priority: optional
Maintainer: pkgmaintainer
Build-Depends: gcc (>= 9), cmake (>= 2.8), debhelper (>= 9), libc-bin (>= 2)
Standards-Version: 3.9.5
Homepage: https://github.com/professorkaos64/RetroRig/joydetect

Package: joydetect
Architecture: any
Depends: ${misc:Depends}
Descripton: Utility to effectively grab PS3/PS4 MAC Address from /dev/input



