Source: joydetect
Section: contrib/games
Priority: optional
Maintainer: pkgmaintainer
Build-Depends: debhelper, gcc, cmake
Standards-Version: 3.9.3
Homepage: https://github.com/professorkaos64/RetroRig

Package: joydetect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Small C utility to effectively grab PS3/PS4 MAC Address



