	<!-- Ace -->

	<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
	<control type="image">
	<include>HomeBG</include>
	<texture fallback="special://skin/backgrounds/settings.jpg" background="true">$INFO[skin.string(settings.bg)]</texture>
	</control>
	<control type="group"><!-- default group -->
	<include>Animation_Window</include>
	<include>SettingsBack</include><!-- Menu da direita -->
	<control type="image">
	<posx>240</posx>
	<posy>20</posy>
	<width>38</width>
	<height>2</height>
	<texture>grey.png</texture>
	<animation effect="slide" start="0,0" end="0,55" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(0)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,110" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(1)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,165" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(2)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,220" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(3)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,275" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(4)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,330" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(5)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,385" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(6)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,440" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(7)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,495" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(8)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,550" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(9)">Conditional</animation>
	<animation effect="slide" start="0,0" end="0,605" time="0" easing="inout" tween="cubic" condition="Container(9000).Row(10)">Conditional</animation>
	<colordiffuse>90FFFFFF</colordiffuse>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>75</posy>
	<width>5</width>
	<height>530</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(0)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>130</posy>
	<width>5</width>
	<height>475</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(1)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>185</posy>
	<width>5</width>
	<height>420</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(2)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>240</posy>
	<width>5</width>
	<height>365</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(3)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>295</posy>
	<width>5</width>
	<height>310</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(4)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>350</posy>
	<width>5</width>
	<height>255</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(5)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>405</posy>
	<width>5</width>
	<height>200</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(6)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>460</posy>
	<width>5</width>
	<height>145</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(7)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>515</posy>
	<width>5</width>
	<height>90</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(8)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>570</posy>
	<width>5</width>
	<height>35</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(9)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>607</posy>
	<width>5</width>
	<height>20</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	<visible>Container(9000).Row(10)</visible>
	</control>
	<control type="image">
	<posx>278</posx>
	<posy>605</posy>
	<width>38</width>
	<height>2</height>
	<texture>grey.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	</control>
	<control type="image">
	<posx>286</posx>
	<posy>60</posy>
	<width>30</width>
	<height>672</height>
	<texture flipx="true">shadow.png</texture>
	<colordiffuse>C3FFFFFF</colordiffuse>
	</control>
	<control type="image">
	<posx>1230</posx>
	<posy>60</posy>
	<width>30</width>
	<height>660</height>
	<texture>shadow.png</texture>
	<colordiffuse>C3FFFFFF</colordiffuse>
	</control>
	<control type="image">
	<posx>316</posx>
	<posy>60</posy>
	<width>914</width>
	<height>672</height>
	<texture>black.png</texture>
	<colordiffuse>C3FFFFFF</colordiffuse>
	</control>
	<control type="image">
	<posx>318</posx>
	<posy>62</posy>
	<width>910</width>
	<height>512</height>
	<aspectratio>stretch</aspectratio>
	<fadetime>FanartCrossFadeTime</fadetime>
	<texture background="true">$INFO[Container(9000).ListItem.Icon]</texture>
	<bordertexture border="-2">black.png</bordertexture>
	</control>
	<include>RSS</include>
	<include>SettingsMenu</include><!-- Menu da esquerda -->
	<include>Date</include>
	<control type="list" id="9000">
	<posx>0</posx>
	<posy>60</posy>
	<width>240</width>
	<height>660</height>
	<onup>9000</onup>
	<ondown>9000</ondown>
	<onleft condition="Window.Previous(Home)">ActivateWindow(Home)</onleft>
	<onleft condition="Window.Previous(25)">ActivateWindow(25)</onleft>
	<onright condition="Container(9000).HasFocus(100)">ActivateWindow(AddonBrowser)</onright>
	<onright condition="Container(9000).HasFocus(101)">ActivateWindow(SystemSettings)</onright>
	<onright condition="Container(9000).HasFocus(102)">ActivateWindow(NetworkSettings)</onright>
	<onright condition="Container(9000).HasFocus(103)">ActivateWindow(34)</onright>
	<onright condition="Container(9000).HasFocus(104)">21</onright>
	<onright condition="Container(9000).HasFocus(105)">ActivateWindow(AppearanceSettings)</onright>
	<onright condition="Container(9000).HasFocus(106)">ActivateWindow(VideosSettings)</onright>
	<onright condition="Container(9000).HasFocus(107)">ActivateWindow(MusicSettings)</onright>
	<onright condition="Container(9000).HasFocus(108) + Skin.HasSetting(pvrmode)">ActivateWindow(TVSettings)</onright>
	<onright condition="Container(9000).HasFocus(109)">ActivateWindow(PicturesSettings)</onright>
	<onright condition="Container(9000).HasFocus(110)">ActivateWindow(WeatherSettings)</onright>
	<viewtype>list</viewtype>
	<orientation>vertical</orientation>
	<focusposition>5</focusposition>
	<scrolltime>450</scrolltime>
	<movement>2</movement>
	<itemlayout width="240" height="55">
	<control type="image">
	<posx>0</posx>
	<posy>0</posy>
	<width>240</width>
	<height>3</height>
	<texture>divider.png</texture>
	<colordiffuse>90FFFFFF</colordiffuse>
	</control>
	<control type="label">
	<posx>20</posx>
	<posy>6</posy>
	<width>200</width>
	<height>60</height>
	<align>left</align>
	<aligny>top</aligny>
	<font>Font_20</font>
	<textoffsetx>0</textoffsetx>
	<label>$INFO[ListItem.Label]</label>
	<textcolor>FF101010</textcolor>
	</control>
	<control type="label">
	<posx>20</posx>
	<posy>30</posy>
	<width>200</width>
	<height>60</height>
	<align>left</align>
	<aligny>top</aligny>
	<font>Font_15</font>
	<textoffsetx>0</textoffsetx>
	<label>$INFO[ListItem.Label2]</label>
	<textcolor>FF101010</textcolor>
	</control>
	</itemlayout>
	<focusedlayout width="240" height="55">
	<control type="image">
	<posx>0</posx>
	<posy>0</posy>
	<width>239</width>
	<height>55</height>
	<texture>settings_button_large.png</texture>
	<colordiffuse>$VAR[value_texturecolor]</colordiffuse>
	<include>Animation_DefaultGlass</include>
	<animation effect="fade" start="100" end="50" time="0" condition="!Control.Hasfocus(9000)">conditional</animation>
	</control>
	<control type="label">
	<posx>20</posx>
	<posy>6</posy>
	<width>200</width>
	<height>60</height>
	<align>left</align>
	<aligny>top</aligny>
	<font>Font_20</font>
	<textoffsetx>0</textoffsetx>
	<label>$INFO[ListItem.Label]</label>
	<textcolor>FFFFFAF0</textcolor>
	</control>
	<control type="label">
	<posx>20</posx>
	<posy>30</posy>
	<width>200</width>
	<height>60</height>
	<align>left</align>
	<aligny>top</aligny>
	<font>Font_15</font>
	<textoffsetx>0</textoffsetx>
	<label>$INFO[ListItem.Label2]</label>
	<textcolor>FFFFFAF0</textcolor>
	</control>
	</focusedlayout>
	<content>
	<item id="105"><!-- Appearance -->
	<label>31351</label>
	<label2>31352</label2>
	<property name="MainLabel">31376</property>
	<property name="SubLabel">31377</property>
	<icon>special://skin/backgrounds/extras/settings_appearance.jpg</icon>
	<onclick>ActivateWindow(AppearanceSettings)</onclick>
	</item>
	<item id="106"><!-- Videos -->
	<label>31353</label>
	<label2>31354</label2>
	<property name="MainLabel">31378</property>
	<property name="SubLabel">31379</property>
	<icon>special://skin/backgrounds/extras/settings_movies.jpg</icon>
	<onclick>ActivateWindow(VideosSettings)</onclick>
	</item>
	<item id="107"><!-- Music -->
	<label>31355</label>
	<label2>31356</label2>
	<property name="MainLabel">31380</property>
	<property name="SubLabel">31381</property>
	<icon>special://skin/backgrounds/extras/settings_music.jpg</icon>
	<onclick>ActivateWindow(MusicSettings)</onclick>
	</item>
	<item id="108"><!-- Live TV -->
	<label>31357</label>
	<label2>31358</label2>
	<property name="MainLabel">31382</property>
	<property name="SubLabel">31383</property>
	<icon>special://skin/backgrounds/extras/settings_tv.jpg</icon>
	<onclick>ActivateWindow(TVSettings)</onclick>
	</item>
	<item id="109"><!-- Pictures -->
	<label>31365</label>
	<label2>31366</label2>
	<property name="MainLabel">31384</property>
	<property name="SubLabel">31385</property>
	<icon>special://skin/backgrounds/extras/settings_pictures.jpg</icon>
	<onclick>ActivateWindow(PicturesSettings)</onclick>
	</item>
	<item id="110"><!-- Weather -->
	<label>31367</label>
	<label2>31368</label2>
	<property name="MainLabel">31386</property>
	<property name="SubLabel">31387</property>
	<icon>special://skin/backgrounds/extras/settings_weather.jpg</icon>
	<onclick>ActivateWindow(WeatherSettings)</onclick>
	</item>
	<item id="100"><!-- Addons -->
	<label>31363</label>
	<label2>31364</label2>
	<property name="MainLabel">31388</property>
	<property name="SubLabel">31389</property>
	<icon>special://skin/backgrounds/extras/settings_addons.jpg</icon>
	<onclick>ActivateWindow(AddonBrowser)</onclick>
	</item>
	<item id="101"><!-- System -->
	<label>31359</label>
	<label2>31360</label2>
	<property name="MainLabel">31390</property>
	<property name="SubLabel">31391</property>
	<icon>special://skin/backgrounds/extras/settings_system.jpg</icon>
	<onclick>ActivateWindow(SystemSettings)</onclick>
	</item>
	<item id="102"><!-- Network -->
	<label>31361</label>
	<label2>31362</label2>
	<property name="MainLabel">31392</property>
	<property name="SubLabel">31393</property>
	<icon>special://skin/backgrounds/extras/settings_network.jpg</icon>
	<onclick>ActivateWindow(NetworkSettings)</onclick>
	</item>
	<item id="103"><!-- Profile -->
	<label>31369</label>
	<label2>31370</label2>
	<property name="MainLabel">31394</property>
	<property name="SubLabel">31395</property>
	<icon>special://skin/backgrounds/extras/settings_profiles.jpg</icon>
	<onclick>ActivateWindow(34)</onclick>
	</item>
	<item id="104"><!-- Skin Options -->
	<label>31371</label>
	<label2>31375</label2>
	<property name="MainLabel">31396</property>
	<property name="SubLabel">31397</property>
	<icon>special://skin/backgrounds/extras/settings_ace.jpg</icon>
	<onclick>ActivateWindow(skinsettings)</onclick>
	</item>
	</content>
	</control>
	<control type="image">
	<posx>0</posx>
	<posy>0</posy>
	<width>250</width>
	<height>720</height>
	<texture>menu_glass.png</texture>
	<colordiffuse>70FFFAF0</colordiffuse>
	</control>

	<!-- Labels Section -->
	<control type="group">
	<posx>0</posx>
	<posy>0</posy>
	<control type="label">
	<posx>341</posx>
	<posy>586</posy>
	<width>869</width>
	<height>45</height>
	<textcolor>FFFFFAF0</textcolor>
	<font>Font_32</font>
	<label>$INFO[Container(9000).ListItem.Property(MainLabel)]</label>
	</control>
	<control type="label">
	<posx>341</posx>
	<posy>630</posy>
	<width>869</width>
	<height>45</height>
	<textcolor>FFFFFAF0</textcolor>
	<font>Font_16</font>
	<label>$INFO[Container(9000).ListItem.Property(SubLabel)]</label>
	</control>
	</control>
	<include>BGBlack</include>
	</control>
	</controls>
	</window>