[Desktop Entry]
Version=1.0
Name=RetroRig
GenericName=RetroRig Project
Comment=RetroRig Project Desktop launcher
Exec=/usr/share/applications/startXBMC.sh
Icon=/home/test/Pictures/retro-icon.png
Terminal=true
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;
