[Desktop Entry]
Version=1.0
Name=RetroRig
GenericName=RetroRig Project
Comment=RetroRig Project Desktop launcher
Exec=/usr/share/applications/startXBMC.sh
Icon=/usr/share/icons/retro-icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;
