[Desktop Entry]
Version=1.0
Name=XBMC PS3 (Custom)
GenericName=Media Center
Comment=Manage and view your media
Exec=/usr/share/applications/startXBMC.sh
Icon=xbmc
Terminal=true
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;
