[Desktop Entry]
Name=Dolphin-Emu
Comment=GCN/Wii/Triforce emulator
Exec=dolphin-emu
Icon=dolphin-emu-icon.png
Terminal=false
Type=Application
Categories=Game;Emulator;
