<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <!--background-->
        <include>globalBackground</include>
        <!--main menu-->
        <control type="group">
            <posx>col-4-begin</posx>
            <posy>row-4-begin</posy>
            <!--overlay-->
            <control type="image">
                <posx>-312</posx>
                <posy>118</posy>
                <width>fullscreenWidth</width>
                <height>430</height>
                <texture>colors/black.png</texture>
                <colordiffuse>88ffffff</colordiffuse>
                <aspectratio>stretch</aspectratio>
            </control>
            <!--animations-->
            <include>modalDialogInOutVertical</include>
            <control type="image">
                <posx>-384</posx>
                <posy>44</posy>
                <width>2500</width>
                <height>1-row</height>
                <texture>colors/selected.png</texture>
                <colordiffuse>ffffffff</colordiffuse>
                <aspectratio>stretch</aspectratio>
            </control>
            <control type="image">
                <posx>-3</posx>
                <posy>44</posy>
                <width>3</width>
                <height>1-row</height>
                <texture>colors/black.png</texture>
                <colordiffuse>ffffffff</colordiffuse>
                <aspectratio>stretch</aspectratio>
            </control>
            <control type="label">
                <posx>12</posx>
                <posy>44</posy>
                <width>8-col</width>
                <font>pageTitle</font>
                <label>$LOCALIZE[5]</label>
                <textcolor>black</textcolor>
                <shadowcolor>-</shadowcolor>
            </control>
            <!--menu-->
            <control type="Panel" id="9000">
                <posx>0</posx>
                <posy>2-row</posy>
                <width>18-col</width>
                <height>12-col</height>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <itemlayout width="6-col" height="2-row">
                    <control type="image">
                        <posx>0</posx>
                        <posy>12</posy>
                        <width>72</width>
                        <height>72</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture fallback="colors/offblack.png" diffuse="masks/circle.png" border="0">$INFO[Listitem.icon]</texture>
                        <bordersize>0</bordersize>
                        <colordiffuse>ccFFFFFF</colordiffuse>
                    </control>
                    <control type="label">
                        <posx>18</posx>
                        <posy>18</posy>
                        <width>326</width>
                        <font>symbolLarge</font>
                        <textcolor>unselected</textcolor>
                        <label>$INFO[ListItem.label2]</label>
                    </control>
                    <control type="label">
                        <posx>101</posx>
                        <posy>5</posy>
                        <width>326</width>
                        <font>itemTitle</font>
                        <textcolor>unselected</textcolor>
                        <label>$INFO[ListItem.label]</label>
                    </control>
                    <control type="label">
                        <posx>101</posx>
                        <posy>38</posy>
                        <width>326</width>
                        <font>smallStrong</font>
                        <textcolor>unselected</textcolor>
                        <label>$INFO[listitem.property(label3)]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="6-col" height="2-row">
                    <control type="image">
                        <posx>0</posx>
                        <posy>12</posy>
                        <width>72</width>
                        <height>72</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture fallback="colors/offblack.png" diffuse="masks/circle.png" border="0">$INFO[Listitem.icon]</texture>
                    </control>
                    <control type="label">
                        <posx>18</posx>
                        <posy>18</posy>
                        <width>326</width>
                        <font>symbolLarge</font>
                        <textcolor>selected</textcolor>
                        <label>$INFO[ListItem.label2]</label>
                    </control>
                    <control type="label">
                        <posx>85</posx>
                        <posy>5</posy>
                        <width>326</width>
                        <font>itemTitle</font>
                        <textcolor>selected</textcolor>
                        <label>[ $INFO[ListItem.label] ]</label>
                        <scroll>true</scroll>
                    </control>
                    <control type="label">
                        <posx>101</posx>
                        <posy>38</posy>
                        <width>326</width>
                        <font>smallStrong</font>
                        <textcolor>selected</textcolor>
                        <label>$INFO[listitem.property(label3)]</label>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <description>Appearance</description>
                        <label>480</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31061] • $LOCALIZE[24008]</property>
                        <onclick>activatewindow(AppearanceSettings)</onclick>
                    </item>
                    <item id="2">
                        <description>Videos</description>
                        <label>3</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31063] • $LOCALIZE[24012]</property>
                        <onclick>activatewindow(VideosSettings)</onclick>
                    </item>
                    <item id="9">
                        <label>$LOCALIZE[31060]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31006] • $LOCALIZE[31065]</property>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                    </item>
                    <item id="3">
                        <description>Music</description>
                        <label>2</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31063] • $LOCALIZE[31066]</property>
                        <onclick>activatewindow(MusicSettings)</onclick>
                    </item>
                    <item id="4">
                        <description>Addons</description>
                        <label>24001</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31067]</property>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                    </item>
                    <item id="5">
                        <description>Pictures</description>
                        <label>1</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31063] • $LOCALIZE[31068]</property>
                        <onclick>activatewindow(PicturesSettings)</onclick>
                    </item>
                    <item id="6">
                        <description>Weather</description>
                        <label>8</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31069] • $LOCALIZE[14036]</property>
                        <onclick>activatewindow(WeatherSettings)</onclick>
                    </item>
                    <item id="7">
                        <description>Services</description>
                        <label>14036</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31071] • $LOCALIZE[1273]</property>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                    </item>
                    <item id="8">
                        <description>System</description>
                        <label>13000</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[14094] • $LOCALIZE[14095]</property>
                        <onclick>activatewindow(SystemSettings)</onclick>
                    </item>
                    <item id="9">
                        <description>Profiles</description>
                        <label>13200</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31105] • $LOCALIZE[31106]</property>
                        <onclick>activatewindow(34)</onclick>
                    </item>
                    <item id="10">
                        <description>File Manager</description>
                        <label>10003</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31095] • $LOCALIZE[31111]</property>
                        <onclick>activatewindow(3)</onclick>
                    </item>
					<item id="11">
                        <description>Programs</description>
                        <label>31003</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31067]</property>
                        <onclick>ActivateWindow(programs,addons,return)</onclick>
                    </item>
                </content>
            </control>
        </control>
        <!--debugging-->
        <include>DebugGrid</include>
        <control type="label">
            <include>WindowID</include>
            <label>Settings.xml</label>
        </control>
    </controls>
</window>