Source: dolphin-emu
Section: games
Priority: optional
Maintainer: RetroRig Development Team <jc.lache@gmail.com>
Build-Depends:  debhelper (>= 7.0.50),
		cmake,
		libao-dev,
		libasound2-dev,
		libavcodec-dev,
		libavformat-dev,
		libbluetooth-dev,
		libglew-dev,
		libgtk2.0-dev,
		liblzo2-dev,
		libopenal-dev,
		libpolarssl-dev (>= 1.2.8),
		libpulse-dev,
		libreadline6-dev,
		libsdl1.2-dev,
		libsfml-dev (>= 1.6),
		libsoil-dev,
		libsoundtouch-dev,
		libswscale-dev,
		libminiupnpc-dev (>= 1.7),
		libwxbase2.9-dev,
		libwxgtk2.9-dev,
		libxext-dev,
		libxrandr-dev,
		lsb-release,
		pkg-config,
		portaudio19-dev,
		wx2.9-headers,
		zlib1g-dev
Standards-Version: 3.9.5
Homepage: https://github.com/beaumanvienna/dolphin

Package: dolphin-emu
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Gamecube, Wii and Triforce emulator
 Dolphin is a Gamecube, Wii and Triforce (the arcade machine based on the
 Gamecube) emulator.
 .
 Gamecube compatibility is okay - lots of games work, many games don't work.
 .
 Wii compatibility is also good - a lot of games do work. Wii emulation
 generally requires a bit more computing power than Gamecube emulation, though.
 .
 Triforce compatibility is not really known yet, but at least one game runs,
 with minor glitches. 
