Source: retrorig-setup
Section: video
Priority: extra
Maintainer: pkgmaintainer
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/ProfessorKaos64/RetroRig

Package: retrorig-setup
Architecture: any
Depends: ${misc:Depends}
Description: RetroRig is a suite of console emulators embedded in a 
 home theater program. 
 .    
 Run "sudo retrorig-setup" to start the installation.
