#!/usr/bin/make -f

# Copyright (C) 2014 JC Techno Labs

# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software Foundation,
# Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

%:
	dh $@


override_dh_clean:
	

override_dh_auto_configure: 
	

override_dh_auto_install:
	

override_dh_install:

	# Add here commands to install the package 
	
	#create system directories
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig 
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/bin 
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/share/applications
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/share/icons 
	mkdir -p $(CURDIR)/debian/retrorig-setup/etc/init.d
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/Artwork/XBMC
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/share/man/man7
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/share/doc/RetroRig/
	mkdir -p $(CURDIR)/debian/retrorig-setup/usr/lib
	
	# copy base files
	cp -r scripts/ gamepad-cfgs/ emu-cfgs/ init-scripts/ scriptmodules/  XBMC-cfgs/ retrorig-cfgs/ common/ $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig
	
	#copy executables
	cp retrorig-setup $(CURDIR)/debian/retrorig-setup/usr/bin/ 
	mv $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/xbmc-retrorig $(CURDIR)/debian/retrorig-setup/usr/bin 
	
	#icons / pictures
	mv $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/retro-icon.png $(CURDIR)/debian/retrorig-setup/usr/share/icons
	cp Artwork/XBMC/RetroMain-0-9-8.png $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/Artwork/XBMC/
	cp Artwork/XBMC/gears.png $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/Artwork/XBMC/
	
	#supplemental application files
	mv $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/startXBMC.sh $(CURDIR)/debian/retrorig-setup/usr/share/applications
	cp $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/RetroRig.desktop $(CURDIR)/debian/retrorig-setup/usr/share/applications
	mv $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/gp_autodetect_xbmc.sh $(CURDIR)/debian/retrorig-setup/usr/share/applications
	
	#services
	mv $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/rescan $(CURDIR)/debian/retrorig-setup/etc/init.d/
	
	#delete redundant files
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/gp_autodetect_xbmc.sh.testing
	rm -rf $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/plugin.program.advanced.launcher-master/.gitignore
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/plugin.program.advanced.launcher-master/LICENSE.txt
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/LICENSE.txt
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/service.rom.collection.browser/LICENSE.txt
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/skin.ace/LICENSE.txt
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/skins/fonts/DejaVuSans-Bold.ttf
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/skins/fonts/DejaVuSans.ttf
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/skins/fonts/LiberationSans-Regular.ttf
	rm -f $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.steam.launcher/LICENSE.txt
	
	#man page
	gzip -c supplemental/retrorig-setup/retrorig-setup.7 > $(CURDIR)/debian/retrorig-setup/usr/share/man/man7/retrorig-setup.7.gz
	gzip -c supplemental/retrorig-setup/xbmc-retrorig.7 > $(CURDIR)/debian/retrorig-setup/usr/share/man/man7/xbmc-retrorig.7.gz
	
	#copyright
	cp -r debian/copyright $(CURDIR)/debian/retrorig-setup/usr/share/doc/RetroRig
	
	#libraries
	#delete libs
	find $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/platform_libraries/ -name "*.so" -exec rm -f {} \;
	#mkdir -p $(CURDIR)/debian/retrorig-setup/usr/lib/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/platform_libraries/
	#mv $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/platform_libraries/Linux64/ \
	#$(CURDIR)/debian/retrorig-setup/usr/lib/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/platform_libraries/
	


override_dh_makeshlibs:
	#set executable attribute
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.games.rom.collection.browser/resources/scriptfiles/applaunch.sh
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/configuration.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/emulators.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/gamepads.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/helpers.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/settings.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/setup.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/scriptmodules/syscalls-deb.shinc
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/applications/gp_autodetect_xbmc.sh
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/applications/startXBMC.sh
	chmod 755 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/addons/script.steam.launcher/resources/scripts/steam-launch.sh
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/Steam/config.vdf

	#removing unnecessary executable attributes
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/common/parserConfig.xml
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/RCB_emu_xml/sega_master_system.txt
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/gamepad-cfgs/ps3_blu_controller/keyboard.xml
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/common/MAME\ synopsis\ RCB\ 201202.zip
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/XBMC-session/xbmc.desktop
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/XBMC-cfgs/extra/RCB_emu_xml/mame.txt
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/init-scripts/ps3_blu_controller/default/xboxdrv
	chmod 644 $(CURDIR)/debian/retrorig-setup/usr/share/RetroRig/init-scripts/x360_wireless_controller/default/xboxdrv

